body{
    background-color: darkkhaki;
    font-size: larger;
}

h1 {
    font-size: 15px; 
    color: darkred;
}

table, th, td { 
    border:  1px solid
}

th, td {
    padding: 15px;
}

input {
    width: 100%
}